In [10]:
# Assignment operators -> =
num = 10
# print(num, id(num))
# num = num + 5
# num += 5
# num -= 5 # num = num - 5
# num *= 5
# num /= 5
# num //= 5
# num %= 5
# num **= 5

print(num)

100000

In [40]:
# comparison operators -> >, >=, <, <=, ==, != (always comparison ops -> BOOLEAN)
# print(10 > 10)
# print(10 < 5)
# print(10 >= 10)
# print(10 <= 5)
# print(10 == 10) # compare left with right
# print(10 != 5) # not equal

# print(10 == '10')

num = 10
# print(num + '10') # error 
# print('10' + '15') # 1015

# exceptional
# print(num + True)

# True -> 1
# False -> 0

# type casting -> converts 1 datatype into another datatype
# print(int(True))
# print(int(False))

# 0 -> False
# print(bool(0))
# print(bool(-103))

# print('10' + True) # error

In [60]:
# logical operator -> and, or, not
# voter_id = True
# age = 19

# print(age >= 18 and voter_id == True) # both condition should satisfy

# bus = True
# train = False
# print(bus == True or train == True)

# if(bus == True):
#     print('reached office by bus')
# if(train == True):
#     print('reached ofz by train')

# not -> True to False or False to True
# print(not(10 > 5)) # not(True) -> False
# print(not(10 < 5))

False
True

In [72]:
# identity operator -> is, is not -> compares address
num1 = 1000
num2 = 1000
print(id(num1), id(num2))
# print(num1 == num2) # value
# print(num1 is num2) # address
print(num1  is not num2)

1955609087472 1955609087056
True

In [83]:
# membership operator -> in, not in
word = '2023'
news = 'World cup winner of 2023 is India'
print(word in news) # case sensitive
print(word not in news)

# num = 10
# num2 = 1010
# print(num in num2)

True
False

In [110]:
# bitwise operator -> &, |, ^

# & -> and
# print(13 & 21)

# | -> or
# print(13 | 21)

# ^ -> XOR
# print(13 ^ 21)

# left shift operator -> <<
# print(2 << 1)  # left * 2^(right)
# print(2 << 2)
# print(2 << 3)
# print(13 << 7)

# right shift
# print(8 >> 1)
# print(9 >> 2) # left // 2^(right)
# print(125 >> 3)

# print(-8 >> 2)

-2

In [112]:
print(~2)
print(~-2)

-3
1

In [130]:
# strings
# print('sachin tendulkar')
# print("sachin tendulkar")

# sachin is a 'good' cricketer
# print("sachin is a 'good' cricketer")

# sachin is a "good" cricketer
# print('sachin is a "good" cricketer')

# 'sachin' is a "good" cricketer
# print(""" 'sachin's is a "good" cricketer """)
# print(''' 'sachin' is a "good" cricketer ''')

# Poem
# Johhny Johhny yes papa
# Eating sugar no papa
# Telling lies no papa
# Open your mouth hahahah

# """ """ -> multiline strings
print('''Johhny Johhny yes papa
Eating sugar no papa
Telling lies no papa
Open your mouth hahahah''')

Johhny Johhny yes papa
Eating sugar no papa
Telling lies no papa
Open your mouth hahahah

In [148]:
first_name = 'Rohit'
last_name = 'Sharma'
captain = 'Dhoni'

# Rohit Sharma is a good cricketer. 
# print('first_name last_name is a good cricketer')
# print(first_name + " " + last_name + ' is a good cricketer. ' + captain + ' is the captain of India')

# formatted strings -> f
print(f"{first_name} {last_name} is a good cricketer. {captain} is the captain of India")

Rohit Sharma is a good cricketer. Dhoni is the captain of India

In [147]:
# input
name = input('Enter the name: ')
age = input('Enter the age: ')

print('name ->', name)
print('age ->', age)

Enter the name: vasab
Enter the age: dasda
name -> vasab
age -> dasda

In [152]:

# by default input datatype is -> str
num1 = input('Enter the num1: ')
num2 = input('Enter the num2: ')
print(type(num1), type(num2))

num1 = int(num1)
num2 = int(num2)
print(type(num1), type(num2))
print(num1 + num2)

Enter the num1: 10
Enter the num2: 15
<class 'str'> <class 'str'>
<class 'int'> <class 'int'>
25

In [157]:
num1 = int(input('Enter the num1: '))
num2 = int(input('Enter the num2: '))
print(num1 + num2)

Enter the num1: True

ValueError: invalid literal for int() with base 10: 'True'

In [173]:
# print(sep = ' ', end='\n')
print('sachin','tendulkar',1,10, sep='-', end=' ')
print('rohit')

sachin-tendulkar-1-10 rohit

In [185]:
name = 'ANKIT'
# print(name, len(name)) # len -> length
# print(name[0], name[1], name[2], name[3], name[4], name[5]) # index error
print(name[-1], name[-2], name[-3], name[-4], name[-5])

T I K N A

In [191]:
# strings are immutable
name = 'DEMIN'
print(id(name))
# print(name[0])
# name[0] = 'JURISH' # immutable
name = 'vasi'
print(name, id(name))

1955610100144
vasi 1955610100912

In [212]:
# python methods
# replace
name = "DDEMINDDDD"
# print(id(name))
# print(name.replace('DD', 'Jerry', 1)) # 2 -> count

JerryEMINDDDD

In [201]:
name = 'ishita'
# print(name.lower())
# print(name.upper())
# print(name.capitalize())

Ishita

In [217]:
# strip
# game = '             God of war               '
# print(game, len(game))
# print(game.strip(), len(game.strip())) # removes ' ' infront and end of string by default

url = 'mmmmmhttps://google.commmmmmm'
# print(url.strip('m'))
# print(url.lstrip('m'))
# print(url.rstrip('m'))

mmmmmhttps://google.co

In [226]:
# data scientists
name1 = 'Smit'
name2 = 'krithiga'
name3 = 'souvit'
name4 = 'prashant'


data_scientists = ['smit', 'krithiga', 'souvit', 'prashant', 10]
print(data_scientists[0], data_scientists[1], data_scientists[2])

smit krithiga souvit

In [ ]:
# COLLECTIONS -> LIST, TUPLE, SET, DICTIONARY