In [25]:
# List -> [], duplicates are allowed, indexed, mutable
# empty list
names = list()  # []
print(names)

names = ['sanjeev', 'ram', 'shyam', 'sam', 'sita', 'sam']
# print(names)
# print(names[0], names[1], names[2])
# print(names[-1], names[-2], names[-3])

names[0] = 'sachin'
# print(names)

[]

In [26]:
# methods
players = ['virat', 'dhoni', 'rohit', 'sachin', 'dravid', 'sachin']
# print(players)

# remove
# removed_player = players.pop() # removes last data
# print(players)
# print(removed_player)

# index_to_be_removed = players.index('raina')
# print(index_to_be_removed)
# players.pop(index_to_be_removed)
# print(players)

# remove -> not recommended
# players.remove('sachin')
# print(players)

In [27]:
players = ['virat', 'dhoni', 'rohit', 'sachin', 'dravid']

# add players
# players.append('raina') # adds the data at last position
# print(players)

# insert -> (position, value)
# players.insert(2, 'gill')
# print(players)

# players[1], players[2] = players[2], players[1]
# print(players)

# # clear
# players.clear()
# print(players)

In [28]:
class_a = ['ram', 'sam', 'vasi']
class_b = ['rita', 'gita', 'sita']
# ['ram', 'sam', 'vasi', 'rita', 'gita', 'sita']

print(id(class_a))
# class_a = class_a + class_b # not efficient

# extend
class_a.extend(class_b)
print(id(class_a))
print(class_a)

4472211912
4472211912
['ram', 'sam', 'vasi', 'rita', 'gita', 'sita']

In [29]:
class_a = ['ram', 'sam', 'vasi', 10, 10.5, True]
# reverse
class_a.reverse()
print(class_a)

[True, 10.5, 10, 'vasi', 'sam', 'ram']

In [30]:
# sort
names = ['Sridhar', 'ankit', 'dolly', 'Gaurav']
# names.sort()

# names.sort(key=str.upper, reverse=False) # str.lower
names.sort(key=str.upper, reverse=True) # desc order
print(names)

['Sridhar', 'Gaurav', 'dolly', 'ankit']

In [31]:
# count
nums = [1, 2, 2, 1, 3, 4, 4, 5, 1, -1]
# print(nums.count(1))
# print(nums.count(2))
# print(nums.count(10))
print(len(nums), type(nums))

(10, <type 'list'>)

In [32]:
# tuple -> (), duplicates are allowed, indexed, immutable
# empty tuple
# nums = tuple() # ()
# print(nums, type(nums))

nums = (1, 2, 3, 1, 2, 3, 4) # duplicates are allowed
# print(nums)
# print(nums[0], nums[1], nums[2], nums[3], nums[4], nums[5], nums[6], nums[7])
# print(nums[-1], nums[-2])

# immutable
# nums[0] = 100
# print(nums)

# count
print(nums.count(1))

2

In [33]:
# set -> {}, duplicates are not allowed, not indexed, mutable
# empty set
# nums = set()
# print(nums, type(nums))

nums = {1, 2, 3, 1, 2, 4, "True", 'a', 'v', 'd', '3', 1, 3, 7, 10, 20, 100}
print(nums)
# print(nums[0]) # error

set(['a', 1, 2, 3, 4, 'd', 7, 10, '3', 20, 'v', 100, 'True'])

In [34]:
# add
nums = {1, 2, 3}
# nums.add(4)
# nums.add(30)
# print(nums)

# remove
# nums.remove(3) # not recommended
# nums.remove(10)
# print(nums)

# discard # recommended
# nums.discard(3)
# nums.discard(10)
# print(nums)

# clear
# nums.clear()
# print(nums)

In [35]:
nums = [1, 2, 3, 4, 1, 2]
unique_nums = list(set(nums)) # remove duplicates
print(unique_nums)

[1, 2, 3, 4]

In [36]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
# print(set1.union(set2))
# print(set2.union(set1))
# print(set1.intersection(set2))
# print(set2.intersection(set1))
# print(set1.difference(set2))
# print(set2.difference(set1))

In [37]:
set1 = {1, 2, 3, 4}
set2 = {2, 3, 5}
print(set2.issubset(set1))

False

In [38]:
# dictionary -> {}, key value pair
person = {
    'name': 'rajini',
    'age': 72,
    'movie': 'Jailer',
    'place': 'chennai'
}

# print(person)
# print(person['name'], person['age'], person['movie'], person['place']) # not recommended
# print(person.get('name'), person.get('age'), person.get('place', 'India'))

# add
# person['daughter'] = 'Aishwarya'
# update
# person['age'] = 27
# print(person)

# remove
# person.pop('age')
# person.pop('place')
# print(person)

# clear
person.clear()
print(person)

{}

In [49]:
person = {
    'name': 'rajini',
    'age': 72,
    'movie': 'Jailer',
    'place': 'chennai',
    'daughter': {
        'name': 'Aishwarya',
        'husband': 'dhanush'
    },
    'cars': ['Lambo', 'RR', 'BMW']
}
# print(person.get('daughter').get('name'), person.get('daughter').get('husband'), person.get('name'))
print(person.get('cars')[1])

RR

In [40]:
batch = [
    {
        'name': 'kunal',
        'id': 2567
    },
    {
        'name': 'siva',
        'id': 2569
    },
    {
        'name': 'Ajinkya',
        'id': 2407
    }
]

print(batch[0].get('name'))

kunal

In [41]:
# conditional statements -> if, else, if else, elif
num1 = 10
num2 = 20

# greater
if (num1 > num2): 
    print('num1 is greater')
else:
    print('num2 is greater')

num2 is greater

In [42]:
# greatest of 3 nums
num1 = 1000
num2 = 200
num3 = 30

# if(num1 > num2):
#     if(num1 > num3):
#         print('num1 is greater')
#     else:
#         print('num3 is greater')
# else:
#     if(num2 > num3):
#         print('num2 is greater')
#     else:
#         print('num3 is greater')

if(num1 > num2 and num1 > num3):
    print('num1 is greater')
elif(num2 > num1 and num2 > num3):
    print('num2 is greater')
else:
    print('num3 is greater')

num1 is greater

In [43]:
# loops -> for, while

# range(start=0, end-1, step=1)
# print(list(range(3, 20)), type(range(3, 10)))
# print(list(range(1, 11, 2)))
# print(list(range(11, 1, -1)))
# print(list(range(11, 1, -2)))
print(list(range(10))) # end -> 10, start=0, step=1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
# for loop
# nums -> 1 to 10
# for num in range(1, 11):
#     print(num, end= ' ')

# except 5 -> continue
# for num in range(1, 11):
# #     print('num', num)
#     if num in [5, 9]: continue
#     print(num, end=" ")

# stop at 5 -> break
for num in range(1, 11):
    if num == 5: break
    print(num)

1
2
3
4

In [45]:
# print(8 * 3)
# print('ram' * 3) # ramramram

In [46]:
nums = [1, 2, 3, 4, 5]
# print(nums)

# for num in nums:
#     print(num)

# names = ['ram', 'sam', 'jam', 'dam']
# names = ('ram', 'sam', 'jam', 'dam')
names = {'ram', 'sam', 'jam', 'dam', 'mam'}
for name in names:
    print(name)

jam
ram
mam
sam
dam

In [47]:
person = {
    'name': 'rajini',
    'age': 72,
    'movie': 'Jailer',
    'place': 'chennai'
}

# for key in person:
#     print(key, person.get(key))

# keys
# for key in person.keys():
#     print(key)

# values
# for value in person.values():
#     print(value)

# items
# print(list(person.items())) -> [tuples]
# for key, value in person.items():
#     print(key, value)

In [48]:
# unpacking the data
# a, b = [1, 2]
# print(a, b)