In [1]:
# nested loops
for i in range(3):
    print(i)

0
1
2

In [23]:
for row in range(3):
#     print(row, '-'*30)
    for col in range(4):
        print(row,col, sep='', end=' ')
    print()

0 ------------------------------
00 01 02 03
1 ------------------------------
10 11 12 13
2 ------------------------------
20 21 22 23

In [6]:
# print(8 * 3)
print('ram' * 3)

ramramram

In [33]:
# * * *
# * * *
# * * *

# num = 5
# count = 0
# for row in range(1, num+1):
#     for col in range(1, num+1):
#         print('*', sep='', end=' ')
#         count += 1
#     print()
    
# num = 5
# for i in range(1, num+1):
#     print('* ' * num)

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [36]:
# * * * *
# * * * *
# * * * *

rows = 3
cols = 4
for i in range(1, rows+1):
    print('* ' * cols)

* * * *
* * * *
* * * *

In [43]:
# *
# * *
# * * *
# * * * *
# * * * * *
num = 5
for i in range(1, num+1):
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *

In [54]:
#         *
#       * *
#     * * *
#   * * * *
# * * * * *

num = 5
for i in range(1, num+1):
    print('  ' * (num-i), '* '*i)

         *
       * *
     * * *
   * * * *
 * * * * *

In [56]:
# while loop -> 1 to 10
i = 1
while(i <= 10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [58]:
# terminal
while True:
    command = input('vasi~ ')
    if(command == 'add'):
        print('adding')
    elif(command == 'sub'):
        print('subtracting')
    elif(command == 'mul'):
        print('multiplying')
    elif(command == 'exit'):
        print('tata bye bye...')
        break
    else:
        print('invalid command.. Please try again')

vasi~ add
adding
vasi~ mul
multiplying
vasi~ sub
subtracting
vasi~ dbahjdbas
invalid command.. Please try again
vasi~ exit
tata bye bye...

In [104]:
# slicing -> [start=0, end-1, step=1]
# If step is +ve, default start = 0
# If step is -ve, default start = -1

# name = 'ANJANA'
# name = ['A', 'N', 'J', 'A', 'N', 'A']
# name = ('A', 'N', 'J', 'A', 'N', 'A')
# name = {'A', 'N', 'J', 'A', 'N', 'A'} # error

print(name)
# print(name[0], name[1], name[2], name[3], name[4], name[5], name[6])
# print(name[-1], name[-2], name[-3], name[-4], name[-5], name[-6], name[-7])

# in order to get group of chars -> slicing

print(name[0:4])
print(name[1:5])
print(name[1:10])
print(name[3:2]) # empty string
print(name[2:])
print(name[:4])
print(name[1:5:2])
print(name[0:5:2])
print(name[1::2])
print(name[1:6:2])
print(name[2:5:-1])
print(name[5:2:-1])
print(name[:])

# negative indexing
print(name[-1:-4])
print(name[-1:-4:-1])
print(name[-1:-5:-2])
print(name[2:-2])
print(name[-3:0])

print(name[2:-4:1])
print(name[2:-4:-1])

print(name[:-3:])
print(name[:-3:-1])

print(name[::2])
print(name[::-1]) # reverse of the string

('A', 'N', 'J', 'A', 'N', 'A')
('A', 'N', 'J', 'A')
('N', 'J', 'A', 'N')
('N', 'J', 'A', 'N', 'A')
()
('J', 'A', 'N', 'A')
('A', 'N', 'J', 'A')
('N', 'A')
('A', 'J', 'N')
('N', 'A', 'A')
('N', 'A', 'A')
()
('A', 'N', 'A')
('A', 'N', 'J', 'A', 'N', 'A')
()
('A', 'N', 'A')
('A', 'A')
('J', 'A')
()
()
()
('A', 'N', 'J')
('A', 'N')
('A', 'J', 'N')
('A', 'N', 'A', 'J', 'N', 'A')

In [99]:
# reverse
name = 'vasanth'
print(name[::-1])

htnasav

In [107]:
# functions -> action verbs

# factorial -> 5! = 1 * 2 * 3 * 4 * 5 = 120
num = 5
factorial = 1
for i in range(1, num+1):
    factorial = factorial * i
#     print(f'i={i}, factorial={factorial}')
print(factorial)

# lines of code.....
num = 7
factorial = 1
for i in range(1, num+1):
    factorial = factorial * i
print(factorial)

# lines of code....
num = 4
factorial = 1
for i in range(1, num+1):
    factorial = factorial * i
print(factorial)

120
5040
24

In [117]:
def get_factorial(num): # num -> parameter
    factorial = 1
    for i in range(1, num+1):
        factorial = factorial * i
    # print(factorial)
    return factorial
    
# get_factorial(5)
# get_factorial(7)
# get_factorial(10)
# get_factorial(120)

factorial = get_factorial(3) # arg -> 3
print('factorial ->', factorial)

factorial -> 6

In [124]:
# 4 types of functions
# 1. with arg without return value
# nums = [1, 2, 3]
# return_value = nums.append(4)
# print(return_value)

# 2. without arg with return value
# nums = [1, 2, 3]
# return_value = nums.pop()
# print(return_value)


# 3. with arg with return value
# nums = [1, 2, 3, 4, 1]
# count = nums.count(1)
# print(count)


# 4. without arg without return value
# def greet():
#     print('Welcome to Intellipaat!!! tata bye bye')
# return_value = greet()
# print(return_value)

Welcome to Intellipaat!!! tata bye bye
None

In [137]:
# add nums

def add_nums(n1=0, n2=0):
#     print(n1, n2)
    return n1 + n2


# total = add_nums(10, 20)
# total = add_nums(10)
# total = add_nums()
# total = add_nums(10, 20, 30) # error
# print(total)

In [158]:
# *args -> arguments
def add_nums(*nums):
    # print('nums ->', nums, type(nums))
    total = 0
    for num in nums:
        total += num
    return total
    
# total = add_nums(10, 20)
# total = add_nums(10)
# total = add_nums()
total = add_nums(10, 20, 30, 40)
print(total)

100

In [159]:
def greet(name, roll_no):
    print(f'Welcome to Intellipaat {name}. Your id is {roll_no}')
    
# greet('vasanth', 10)
# greet('nila', 18)

# greet(roll_no = 20, name = 'ravi')
# greet(roll_no = 20, name = 'ravi', place='chennai') # error

In [160]:
# **kwargs -> keyword arguments
def greet(**data):
    # print(data)
    print(f"Welcome to Intellipaat {data.get('name')}. Your id is {data.get('roll_no')}")
    
# greet(roll_no = 20, name = 'ravi')
# greet(roll_no = 20, name = 'ravi', place='chennai')

In [161]:
total = add_nums(10, 20)
print(total)

30

In [174]:
# modules
import arithmetic as a

print(arithmetic.add(10, 20))
print(a.sub(10, 20))
print(a.mul(10, 20))

30
-10
200

In [168]:
from arithmetic import add, sub

print(add(10, 30))
print(sub(40, 20))

40
20

In [172]:
from demo.arithmetic import add
print(add(10, 20))

30

In [175]:
# from mathematics.linalg.data.arithmetic import add, sub

In [179]:
import math
from time import time

start = time()
print(math.factorial(5))
print(math.ceil(5))
print(math.floor(5))
end = time()
print(end - start)

120
5
5
0.00015592575073242188

In [183]:
# lambda -> 1 line fns
# def add(n1, n2):
#     return n1 + n2

# add = lambda n1, n2: n1 + n2
# print(add(10, 20))

# even or odd
# def odd_or_even(num):
#     if(num % 2 == 0):
#         return 'even'
#     return 'odd'

odd_or_even = lambda num: 'even' if num % 2 == 0 else 'odd'

print(odd_or_even(10))
print(odd_or_even(7))

even
odd