In [2]:
import pandas as pd

In [4]:
df=pd.read_csv("country.csv")

In [5]:
df.head()

,Country,Region,Population,Area (sq. mi.),Pop. Density (per sq. mi.),Coastline (coast/area ratio),Net migration,Infant mortality (per 1000 births),GDP ($ per capita),Literacy (%),Phones (per 1000),Arable (%),Crops (%),Other (%),Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,"48,0","0,00","23,06","163,07",700.0,"36,0","3,2","12,13","0,22","87,65",1,"46,6","20,34","0,38","0,24","0,38"
1,Albania,EASTERN EUROPE,3581655,28748,"124,6","1,26","-4,93","21,52",4500.0,"86,5","71,2","21,09","4,42","74,49",3,"15,11","5,22","0,232","0,188","0,579"
2,Algeria,NORTHERN AFRICA,32930091,2381740,"13,8","0,04","-0,39",31,6000.0,"70,0","78,1","3,22","0,25","96,53",1,"17,14","4,61","0,101","0,6","0,298"
3,American Samoa,OCEANIA,57794,199,"290,4","58,29","-20,71","9,27",8000.0,"97,0","259,5",10,15,75,2,"22,46","3,27",NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,"152,1","0,00","6,6","4,05",19000.0,"100,0","497,2","2,22",0,"97,78",3,"8,71","6,25",NaN,NaN,NaN

In [6]:
df.shape

(227, 20)

In [8]:
df.isnull().sum()

Country                                0
Region                                 0
Population                             0
Area (sq. mi.)                         0
Pop. Density (per sq. mi.)             0
Coastline (coast/area ratio)           0
Net migration                          3
Infant mortality (per 1000 births)     3
GDP ($ per capita)                     1
Literacy (%)                          18
Phones (per 1000)                      4
Arable (%)                             2
Crops (%)                              2
Other (%)                              2
Climate                               22
Birthrate                              3
Deathrate                              4
Agriculture                           15
Industry                              16
Service                               15
dtype: int64

In [10]:
#### Measures of central tendency

In [11]:
#Mean

In [31]:
print(df["Population"].mean())
print(df["Area (sq. mi.)"].mean())

28740284.365638766
598226.9559471365

In [30]:
# Median

In [21]:
print(df["Population"].median())
print(df["Area (sq. mi.)"].median())

4786994.0
86600.0

In [ ]:
#Mode

In [14]:
df["Region"].mode()

0    SUB-SAHARAN AFRICA
dtype: object

In [ ]:
### Measures pf dispersiona

In [33]:
#Range
print(df["Population"].max()-df["Population"].min())
print(df["Area (sq. mi.)"].max()-df["Area (sq. mi.)"].min())

1313966687
17075198

In [ ]:
# Percentile

In [36]:
df["Population"].quantile(0.1)  #### 10th Percentile
df["Area (sq. mi.)"].quantile(0.25) #### 25th percentiles/1stquartile

4647.5

In [ ]:
# Variance & standard deviation

In [38]:
df["Population"].var()
df["Population"].std()

117891326.54347652

In [ ]:
### Coorelation between Population and area

In [39]:
df[["Population","Area (sq. mi.)"]].corr()

                Population  Area (sq. mi.)
Population        1.000000        0.469985
Area (sq. mi.)    0.469985        1.000000

In [41]:
### IQR
#Q3-Q1

Q3=df["Population"].quantile(0.75)
Q1=df["Population"].quantile(0.25)

Iqr=Q3-Q1
print(Iqr)

17060148.5