In [ ]:
# pip install pandas
# conda install pandas

In [ ]:
import pandas
print(pandas.__version__)

In [ ]:
# PANDAS -> large data set, multiple file formats
# n dimensions
# clean the data or data wrangling

In [ ]:
# 3 data structures
# 1. Series -> 1d
# 2. DataFrame -> 2d
# 3. Panels -> 3d or nd

In [ ]:
# Series
import pandas as pd
nums = pd.Series([1, 2, 3, 4])
# print(nums, type(nums))
# print(nums[0], nums[1], nums[2], nums[3], nums[4]) # key error 
# print(nums[-1]) # negative indexing not supported

In [ ]:
# list_nums = [10, 20, 30, 40]
# nums = pd.Series(list_nums, index=['a', 'b', 'c', 'd'])
# print(nums)
# print(nums['a'], nums['b'], nums['c'], nums['d'])
# print(nums[0], nums[1], nums[2], nums[3])

In [ ]:
# dictionary to Series
person = {
    "name": "Sachin Tendulkar",
    "job": "cricketer",
    "runs": 16000,
    "centuries": 100,
    "son": {
        "name": "Arjun tendulkar",
        "job": "bowler"
    },
    'cars': ['BMW', 'Mercedez', 'ferrari']
}

person_series = pd.Series(person)
print(person_series)

In [ ]:
# 2d -> DataFrames
person = {
    "cars": ['BMW', 'Mercedez', 'ferrari', 'Audi'],
    "bikes": ["honda", "yamaha", "ducati", "TVS"]
}

person_series = pd.Series(person)
print(person_series)

In [ ]:
# dataframe
person_df = pd.DataFrame(person)
# print(person_df)
person_df

In [ ]:
# error

person = {
    "name": "Sachin Tendulkar",
    "job": "cricketer",
    "runs": 16000,
    "centuries": 100,
    "son": {
        "name": "Arjun tendulkar",
        "job": "bowler"
    },
    'cars': ['BMW', 'Mercedez', 'ferrari']
}

person_df = pd.DataFrame(person)
person_df

In [ ]:
# read csv
# df = pd.read_csv('./mtcars.csv')
# df

# read excel
# df = pd.read_excel('./file_example_XLSX_10.xlsx')
# df

In [4]:
df = pd.read_csv('./mtcars.csv')
# df

# columns
df.columns
print(type(df.columns))

# cyl
# df.cyl
# df.hp # not recommended
# df["Unnamed: 1"] # recommended
# df['hp']

# multiple cols
# columns = ['mpg', 'hp', 'gear']
# df[columns]

# rows
# df.shape # 32 rows and 13 cols
# df.head() # first 5 data by default
# df.head(10)
# df.head(-3) # from the beginning except last 3 data

# df.tail() # last 5 data by default
# df.tail(3)
# df.tail(-5) # except top 5

<class 'pandas.core.indexes.base.Index'>

In [ ]:
# slicing -> locators
# index based locators -> iloc [rows, cols] -> iloc[(start=0, end-1, step=1), (start=0, end-1, step=1)]

# df.iloc[0]
# df.iloc[0, 7]

# single row and multiple cols
# df.iloc[0, 1:4]
# df.iloc[2, 2:8:2]
# df.iloc[4, -1:-6:1]
# df.iloc[4, -1:-6:-1]

# multiple rows and multiple cols
# df.iloc[1:4, 3:7]
# df.iloc[-1:-5, 4:8]
# df.iloc[-1:-5:-1, 4:8]


# label (column) -> loc[rows, cols] -> [rows_key, column_names]
# df.loc[0, 'mpg':'qsec']
# df.loc[0:3, 'mpg':'qsec'] # last index is also included
# df.loc[-1] # negative index is not supported
df.loc[0:5:2, 'mpg':'qsec':2] # step is included
df.loc[5:0:-1, 'carb':'qsec':-1] # step is included

In [16]:
# GROUP BY VALUE based on col

# set index -> return new df
df = pd.read_csv('./mtcars.csv')
df = df.set_index('gear')
# print(df)
# df = df.set_index('Unnamed: 1')
# df = df.set_index('carb')
# df.set_index('gear', inplace=True) # same as above 

# SELECT * FROM cars GROUP BY carb HAVING carb = 4
df.loc[4]

# SELECT mpg, cyl, drat, gear, hp FROM cars GROUP BY carb HAVING carb = 4
# cols = ['mpg', 'cyl', 'drat', 'gear', 'hp']
# df[cols].loc[3]

# reset index
df = df.reset_index()
# df

# df['hp'].max() # (SELECT max(hp) FROM cars)
# df['hp'].min()
# df['hp'].mean()
# df['hp'].median()

In [ ]:
# SELECT * FROM cars WHERE hp = (SELECT max(hp) FROM cars)

# filtering the data
# df['hp'] == df['hp'].max() # WHERE hp = (SELECT max(hp) FROM cars)

# df[condition]
# max_hp = (df['hp'] == df['hp'].max())
# df[max_hp]

# SELECT * FROM cars WHERE hp > 200
# df[df['hp'] > 200]

# SELECT mpg, cyl, hp, gear FROM cars WHERE gear > 4
cols = ['gear', 'mpg', 'cyl', 'hp']
df[cols][df['gear'] > 4]

In [ ]:
# SELECT COUNT(hp) FROM cars
# df.shape
# df['hp'].count()

# sorting
# SELECT * FROM cars ORDER BY gear ASC
# df = df.sort_values('gear')  # ascending order
# df = df.sort_values('gear', ascending=True)

# SELECT * FROM cars ORDER BY gear DESC
# df = df.sort_values('gear', ascending=False)

# SELECT * FROM cars ORDER BY gear DESC, hp ASC
df = df.sort_values(['gear', 'hp'], ascending=[False, True])

# df = df.sort_values(['gear', 'hp'], ascending=False) # both desc
# df

In [17]:
# rename the cols
# df = df.rename(columns = {
#     'Unnamed: 1': 'model_name',
#     'qsec': 'kmph',
#     'mpg': 'mileage'
# })


# SELECT name, price, discount, (price - price * discount) AS discounted_price FROM product
# SELECT hp, gear, model_name, (hp * gear) AS power FROM cars

# create a col
df['power'] = df['hp'] * df['gear']
# cols = ['hp', 'gear', 'power', 'model_name']
# df[cols]

df['power'].count()


# save the csv
# df.to_csv('./newcars.csv')
# df.to_excel('./newcars.xlsx')

# override
# df.to_csv('./mtcars copy.csv')

30

In [ ]:
df.head(3)