In [ ]:
import pandas as pd

# 1. How many houses have a waterfront?
# A. 140
# B. 340
# C. 323
# D. 163
df = pd.read_csv('./pandas-2/housing.csv')
water_front_frame = (df['waterfront'].value_counts()[1])
print(water_front_frame)

In [ ]:
# 2. Which zip code has the costliest house?
# A. 98456
# B. 98102
# C. 98283
# D. 89034

# select * from houses where price = (select max(price) from houses)
max_price = df['price'].max()
# print(max_price)

house = ( df[df['price'] == max_price])
zip = house['zipcode']

# df.to_string(index=False)
zip = zip.to_string(index=False)
# print(type(zip))
print(zip)

In [ ]:
# 3. How many houses are having grade 10?
# A. 1133
# B. 1134
# C. 1135
# D. 1132

# select count(*) from houses where grade = 10
df['grade'].value_counts()[[10]]

In [ ]:
# 4. How many null values are there in the dataset?
# A. 20
# B. 19
# C. 0
# D. 4

df.isnull().sum()

In [ ]:
# 5. Does this 9126100861 customer have a waterfront?
# A. Yes
# B. No

data = df[df['id'] == 9126100861]['waterfront']
bool(int(data.to_string(index=False)))

In [79]:
# 6. How many houses have 3 views?
# A. 340
# B. 550
# C. 510

# view_df = df[df['view'] == 3]
# view_df['view'].count()

df['view'].value_counts()[3]

510

In [80]:
# 7. What is the lowest price of the house?
# A. 45000
# B. 28000
# C. 75000
# D. 25000

df['price'].min()

75000

In [85]:
# 8. Which zip code area has the cheapest house?
# A. 98000
# B. 98022
# C. 80000
# D. 94500
min_price = df['price'].min()
data = df[df['price'] == min_price]
data['zipcode'].to_string(index=False)

'98022'

In [86]:
# 9. Which area has the biggest sqft_living?
# A. 98053
# B. 98055
# C. 98035
# D. None of the above

max_sqft = df['sqft_living'].max()
data = df[df['sqft_living'] == max_sqft]
data['zipcode'].to_string(index=False)

'98053'

In [87]:
# 10. In which year the costliest house has been built?
# A. 2000
# B. 1992
# C. 1911
# D. 1910
max_price = df['price'].max()
data = df[df['price'] == max_price]
data['yr_built'].to_string(index=False)

'1910'

In [88]:
# 11. Which of the following data types can a Pandas Series have?
# A. Int
# B. Str
# C. Float
# D. All of the above

pd.Series([1,1.0, '1'])

0      1
1    1.0
2      1
dtype: object

In [ ]:
# 12. Which of the following is having a one-dimensional array?
# A. Series data type
# B. DataFrame data type
# C. Both of the above
# D. None of the above

# Ans: A

In [ ]:
# 13. What value will you get on the left side after printing a series format data?
# A. Data
# B. Value
# C. Index
# D. All of the above

# Ans: C

In [ ]:
# 14. Which of the following is considered as data in pandas?
# A. Dictionary
# B. Boolean
# C. Nd-array
# D. All of the above

# Ans: D

In [94]:
# 15. In what format the keys will get converted into when we convert the dictionary data into
# data frame format?
# A. Rows
# B. Columns
# C. Indexes
# D. Records

pd.DataFrame([{'a': 1, 'b': 2, 'c':3}, {'d': 4, 'e': 5, 'f': 6}])
# Ans: B

     a    b    c    d    e    f
0  1.0  2.0  3.0  NaN  NaN  NaN
1  NaN  NaN  NaN  4.0  5.0  6.0

In [135]:
# 16. Write a function to perform the following operation:
# Increase the grade of the house by 1 if the sqft of the house is greater than 0 and less than
# equal to 400.

def increase_grade_by(col):
   return col.sum()
#    if row['grade'] > 400:
#     row['grade'] += 2
#    else:
#     row['grade'] += 1
#    return row

# If the total sqft of the house is greater than 400, increase the grade of the house
# by 2.
df = df.apply(increase_grade_by)
# df = increase_grade_by(df)
print(df)


# with_gt_400_sqft_houses = (df['sqft_living'] > 400)
# df.loc[with_gt_400_sqft_houses, 'grade'] += 2
# print(df[with_gt_400_sqft_houses]['grade'])


# After creating the above function, which syntax will be using when using apply function to run
# the above created function in the dataset?

# A. data.apply(your_function_name(arg1))
# B. data.apply_fun(function_name())
# C. data.app(data)
# D. None of the above

# Ans: A

KeyError: 'grade'