In [99]:
# Q1. Using Python script as a calculator
# Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
# evaluate the following expression in the Python console.
# ùê¥ = ùëù (1 + ùëü/ 100)n
# a. 100
# b. 162.89
# c. 189
# d. None of the above
n, r, p = 10, 5, 100
A = p*(1+(r/100))*n
print(A)

# Ans: D

1050.0

In [100]:
# Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
string = "There are {} students in the class, with {} who play at least one sport."
# a.
print(string.format(A,B))
# b. print(string+a+b)
# c. 
print(string.format(B, A))
# d. None of the above

# Ans: A, C

There are 10 students in the class, with 20 who play at least one sport.
There are 20 students in the class, with 10 who play at least one sport.

In [101]:
# Q3. In a given sample string, How do you print a double quoted string in between a
# regular
# string using the escape character?
# Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
# a. 
print("It goes without saying, \"Time is Money\", and none can deny it.")
# b. print("It goes without saying, \Time is Money\, and none can deny it.")
# c. print("It goes without saying" + "Time is Money" + "and none can deny it.")
# d. None of the above.

# Ans: a

It goes without saying, "Time is Money", and none can deny it.

In [102]:
# Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
# a. 
3.3333333333
# b. 3
# c. 30
# d. 1000

# Ans: b

3.3333333333

In [103]:
# Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
# a. True
# b. Smaller
# c. 
# Greater
# d. None of the above

# Ans: c

Greater

In [104]:
# Q6. What will be the output of the following code?
import os
import numpy as np
my_list1 = [2,7,3,5,4,6]
print(my_list1)
arr_1 = np.array(my_list1, dtype=int)
print(arr_1)

# a. [2 7 3 5 4 6]
# b. TypeError
# c. NameError: name 'numpy' is not defined
# d. None of the above

# Ans: a

[2, 7, 3, 5, 4, 6]
[2 7 3 5 4 6]

In [105]:
# Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
# is/are appropriate to slice the substring ‚ÄúLearn‚Äù?

string = 'Machine Learning'
# a. string[slice(13,8,1)]
# b. string[slice(1,8,1)]
# c. string[8:14]
# d. 
string[slice(8,13,1)]

# Ans: d

'Learn'

In [106]:
# Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
# of the
# value 18?
# a. 3
# b. 
2
# c. 0
# d. 1
list = range(10, 25, 4)
print(list.index(18))

# Ans: b

2

In [107]:
# Q9. Which of the following is true with respect to the below codes?
num1 = 5 * 4
num2 = pow(5, 4)
print(num1, num2)

# a. num1 = num2
# b. num1 ‚â† num2
# c. num1 < num2
# d. num1 > num2

# Ans: b and c

20 625

In [108]:
# Q10.A Python NameError exception is raised when: -
# a. Trying to access a variable which has not been defined
# b. Trying to access a key in a dictionary that does not exist
# c. Accessing a column with misspelled column name
# d. Accessing the function from a module that has not been imported

# Ans: a

In [109]:
# Q11.What type of exception will be raised for the code given below?

x = 'string'
# int(x)
# a. NameError
# b. KeyError
# c. ValueError
# d. AttributeError

# Ans: c

In [110]:
# Q12.A FileNotFoundError exception is raised by operating system errors when: -

# a. Trying to create a file or directory which already exists
# b. A file or directory is requested but does not exist in the working directory
# c. Trying to run an operation without the adequate access rights
# d. A directory operation, os.listdir() is requested on something which is not a
# directory

# Ans: b

In [111]:
# Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
# a. Complex
# b. Character
# c. Integer
# d. Boolean

z = 'ID-5632'
print(type(z))

# Ans: b
# <class 'str'>

<class 'str'>

In [112]:
# Q14.Which of the following variable(s) are character data type?
# a. K= ‚Äú4‚Äù
# b. J= ‚ÄúWelcome‚Äù
# c. L= ‚Äú?‚Äù
# d. All of the above

# Ans: D

In [113]:
# Q15.Choose the symbol/s that does not have the ability to convert any values to string?
# a. ( )
# b. ‚Äú ‚Äù
# c. {}
# d. #

# Ans: a, c, d

In [114]:
# Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
# respectively:
# Country India China Japan Qatar France
# State Delhi Beijing Tokyo Doha Marseilles

country_capitals = {
    'India': 'Delhi',
    'China': 'Beijing',
    'Japan': 'Tokyo',
    'Qatar': 'Doha',
    'France': 'Marseilles'
}

# Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:
country_capitals['France'] = 'Paris'
country_capitals.update({'France': 'Paris'})

print(country_capitals)

{'India': 'Delhi', 'China': 'Beijing', 'Japan': 'Tokyo', 'Qatar': 'Doha', 'France': 'Paris'}

In [115]:
# Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
# Identify which of the following code does not work on a tuple.
# a. sum(tuple_1)
# b. len(tuple_2)
# c. tuple_2 + tuple_1
# d. tuple_1[3] = 45

# Ans: d
# tuple_1[3] = 45

In [116]:
# Q18. How many elements in the following data structure?
s = {1,2,3,4,5,6}

print(len(s))

6

In [117]:
# Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
# greater than a natural number N.

# Python3 program to generate pythagorean  
# triplets smaller than a given limit 
# Python3 program to generate pythagorean  
# triplets smaller than a given limit 
  
# Function to generate pythagorean  
# triplets smaller than limit 
def pythagoreanTriplets(limits) : 
    c, m = 0, 2
  
    # Limiting c would limit  
    # all a, b and c 
    while c < limits : 
          
        # Now loop on n from 1 to m-1 
        for n in range(1, m) : 
            a = m * m - n * n 
            b = 2 * m * n 
            c = m * m + n * n 
  
            # if c is greater than 
            # limit then break it 
            if c > limits : 
                break
  
            print(a, b, c) 
  
        m = m + 1
  
  
# Driver Code 
if __name__ == '__main__' : 
      
    limit = 20
    pythagoreanTriplets(limit)

3 4 5
8 6 10
5 12 13
15 8 17
12 16 20